html {
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
}

body {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #000;
}

.header__background {
  background-image: url(../img/background-head.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding-bottom: 135px;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__inner {
  padding: 30px 66px 0 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo__link {
  text-decoration: none;
  color: #fff;
  display: flex;
  align-items: center;
  transition-duration: 0.3s;
}
.logo__link:hover {
  color: #ccc;
}

.logo__name {
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
  padding-left: 15px;
}

.menu__list {
  display: flex;
}

.menu__list-item + .menu__list-item {
  padding-left: 50px;
}

.menu__list-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.5);
  line-height: 24px;
  font-weight: 600;
  font-size: 15px;
  transition-duration: 0.3s;
}
.menu__list-link:hover {
  color: #fff;
}

.menu__list-link--active {
  color: #fff;
}

.slider {
  padding: 140px 0px;
  display: flex;
  justify-content: space-between;
}

.slider__header {
  width: 570px;
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 60px;
  color: #fff;
  padding-bottom: 10px;
}

.slider__text {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 55px;
  color: #fff;
  padding-bottom: 60px;
}

.slider__btn {
  padding: 13px 40px;
  color: #250F8A;
  border: none;
  border-radius: 30px;
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  background-color: #FFCA00;
  transition-duration: 0.3s;
}
.slider__btn:hover {
  background-color: #4d26b8;
  color: #FFCA00;
}

.ability {
  text-align: center;
}

.ability__img {
  position: relative;
}
.ability__img::before {
  content: '';
  position: absolute;
  background-image: url(../img/styleleft.png);
  background-repeat: no-repeat;
  width: 511px;
  height: 425px;
  top: 70px;
  left: 0;
}

.ability__title {
  padding: 55px 0 96px;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
}

.ability__inner {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.ability__item {
  width: 280px;
  padding-bottom: 95px;
}

.ability__item-title {
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  color: #202020;
  padding: 23px 0 11px;
}

.ability__item-txt {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  text-align: center;
  color: #272727;
  mix-blend-mode: normal;
  opacity: 0.7;
}

.workflow__img {
  position: relative;
}
.workflow__img::after {
  content: '';
  position: absolute;
  background-image: url(../img/styleright.svg);
  background-repeat: no-repeat;
  width: 184px;
  height: 425px;
  right: 0;
  bottom: 570px;
}

.workflow__inner {
  padding: 96px 0 67px;
}

.devteam {
  display: flex;
  align-items: center;
}

.devteam__title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  color: #202020;
  padding: 0px 26px 15px 0px;
}

.devteam__txt {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #272727;
  text-align: justify;
  padding-bottom: 30px;
}

.devteam__img {
  width: 667px;
  height: 517px;
}

.devteam__one {
  padding-bottom: 76px;
}

.devteam__two {
  padding-bottom: 24px;
}

.devteam__img-one {
  padding-left: 49px;
}

.devteam__img-two {
  padding-right: 61px;
}

.devteam__img-three {
  padding-left: 30px;
}

.footer__background {
  background-image: url(../img/footerback.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.footer__title {
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  line-height: 45px;
  text-align: center;
  color: #fff;
  padding: 38px 0 48px;
}

.review__items {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 0 60px 80px 60px;
}

.review__item {
  width: 300px;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 35px 20px;
  position: relative;
}

.review__item-img {
  border-radius: 50%;
  object-fit: cover;
  width: 50px;
  height: 50px;
  vertical-align: top;
}

.review__item-title {
  display: inline-block;
  padding: 0 0 0 20px;
}

.review__head {
  font-style: normal;
  font-weight: bold;
  font-size: 15px;
  line-height: 24px;
  color: #fff;
}

.review__title-text {
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
}

.review__item-txt {
  text-align: center;
  padding-top: 45px;
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
}
.review__item-txt::before {
  content: '';
  width: 21px;
  height: 50px;
  position: absolute;
  background-image: url(../img/elem.png);
  background-repeat: no-repeat;
  right: 130px;
  bottom: 106px;
}

.footer__bottom {
  background-color: #fff;
}

.menu__footer-list {
  float: left;
}

.menu__footer-link {
  display: block;
  text-decoration: none;
  color: #272727;
  line-height: 24px;
  padding: 20px 0 17px;
  font-weight: normal;
  font-size: 15px;
  transition-duration: 0.3s;
}
.menu__footer-link:hover {
  color: #FFCA00;
}

.footer__list-item + .footer__list-item {
  padding-left: 30px;
}

.copy {
  float: right;
  padding: 22px;
}

@media (max-width: 1366px) {
  .workflow__img::after {
    opacity: 0.3;
  }

  .ability__img::before {
    opacity: 0.3;
  }

  .slider {
    display: block;
    padding: 50px 0px;
    text-align: center;
  }

  .slider__header {
    display: inline;
  }

  .slider__img {
    padding: 30px 0 0 0;
    width: 380px;
    height: 240px;
  }

  .slider__btn {
    padding: 7px 10px;
    font-size: 11px;
    line-height: 23px;
  }
}
@media (max-width: 1200px) {
  .devteam__img {
    width: 320px;
    height: 270px;
    padding: 0;
  }

  .devteam__txt {
    width: 330px;
    text-align: center;
    margin: 0 auto;
    padding: 0 10px;
  }

  .devteam__title {
    text-align: center;
    padding: 10px 20px;
  }

  .review__item {
    margin-bottom: 20px;
  }
}
@media (max-width: 720px) {
  .header__inner {
    padding: 30px 0 0 0;
    flex-direction: column;
  }

  .logo {
    padding: 0 0 20px 0;
  }

  .menu__list {
    display: block;
    text-align: center;
  }

  .menu__list-link {
    font-size: 24px;
  }

  .menu__list-item {
    padding: 10px;
  }

  .menu__list-item + .menu__list-item {
    padding: 10px;
  }

  .ability__img::before {
    display: none;
  }

  .workflow__img::after {
    display: none;
  }

  .ability__title {
    padding: 4px 0 40px;
  }

  .ability__item {
    padding-bottom: 25px;
  }

  .devteam__one {
    flex-direction: column-reverse;
  }

  .devteam__two {
    flex-direction: column;
  }

  .devteam__three {
    flex-direction: column-reverse;
  }

  .menu__footer-list {
    float: none;
  }

  .menu__list {
    float: none;
    text-align: center;
  }

  .footer__list-item + .footer__list-item {
    padding: 0;
  }

  .copy {
    float: none;
    text-align: center;
  }
}
@media (max-width: 490px) {
  .workflow__inner {
    padding: 30px 0 67px;
  }

  .devteam__title {
    text-align: center;
    padding: 10px 0px 20px;
  }

  .review__items {
    padding: 0 15px 25px 15px;
  }
}
@media (max-width: 420px) {
  .slider__img {
    padding: 30px 0 0 0;
    width: 295px;
    height: 239px;
  }
}
