@media (max-width: 1900px) {
    .header__background {
        background-image: linear-gradient(to right, #fd712c 0%, #f21780 100%);
    }

    .apptemp {
        align-items: center;
        width: auto;
        padding: 0px 0 219px 0;
        text-align: center;
    }

    .apptemp__btn {
        align-self: center;
    }
}

@media (max-width: 1500px) {
    .slick-center {
        transform: none;
        box-shadow: none;
        background-color: #f7fafc
    }

    .arrow-prev {
        top: 75%;
        right: 53%;
    }

    .arrow-next {
        top: 75%;
        left: 53%;
    }
}

@media (max-width: 1200px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }

    .wrapper__slider {
        display: none;
    }

    #screen__hidden {
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-flow: wrap;
    }

    .hidden__img {
        align-self: center;
        box-shadow: 0 30px 40px rgba(0, 0, 0, 0.1);
        margin: 10px 20px 10px;
    }

    .price__wrapper {
        justify-content: center;
    }

    .price__item {
        margin: 20px;
    }

    .download__inner {
        justify-content: center;
    }
    .download__app {
        margin: 15px;
    }

}

@media (max-width: 1050px) {
    .dontleave__wrapper {
        flex-direction: column;
        padding: 20px 0 0 0;
    }

    .dontleave__img {
        width: 295px;
        height: auto;
        align-self: center;
    }

    .dontleave__inner {
        align-self: center;
        padding: 10px 20px 40px;
    }

    .dontleave__title {
        text-align: center;
    }
}

@media (max-width: 800px) {
    .wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }

    .feature__item {
        width: 290px;
    }

    .slider-screen__txt,
    .feedback__txt,
    .price__txt,
    .download__title {
        width: auto;
        padding-bottom: 40px;
    }
    .feedback__item {
        max-width: none;
        background-color: #f7fafc;
        margin: 0 5px 20px;
    }
}

@media (max-width: 660px) {
    .header__inner {
        flex-direction: column;
        text-align: center;
    }

    .menu {
        display: block;
        padding: 0 0 50px 0;
    }

    .header__menu {
        display: block;
        padding: 20px 0px 20px 0;
        align-self: center;
    }

    .menu__item {
        margin-bottom: 20px;
        text-align: center;
    }

    .hidden__img {
        width: 290px;
        height: auto;
    }
}
@media (max-width: 451px) {
    .feedback__item {
        max-width: 300px;
        background-color: #f7fafc;
        margin: 0 5px 20px;
        text-align: center;
    }
    .feedback__item-txt {
        padding: 20px 10px 0px 10px;
    }
    .feedback__inner {
        flex-direction: column;
        flex-flow: wrap;
        justify-content: center;
        padding: 10px 0 0px 0px;
    }
    .feedback__people {
        padding: 10px 0 10px 10px;
    }
    .download__img {
        min-width: auto;
        padding: 10px 20px;
        margin: 0;
    }
    .download__list {
        padding: 10px 10px 0 10px;
    }
}